<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div style="margin: 30px;text-align: center;">
    <img style="width: 500px; margin: 10px;" src="https://www.axelspringer.com/data/uploads/2018/06/238182144_d788a2cbde.png" alt="">
    <h2 style="position: absolute;top: 70px;right: 100px;"><a style="color: #037ACC;" href="" th:text="#{header.massage1}" /></h2>
    <div style="padding: 10px;background-color: #F6F6F6;border-radius: 10px;">
        <h2 th:text="#{header.massage2}" />
        <a style="color: #037ACC;" href="" th:text="#{header.massage3}" />
    </div>
</div>