<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        body {
            margin: 0px 205px;
        }
        
        .body {
            margin: 30px;
        }
        
        .btn {
            position: relative;
            left: 40%;
            border: 1px solid #037ACC;
            border-radius: 15px;
            background-color: #037ACC;
            color: white;
            padding: 10px;
            margin: 10px;
        }
    </style>
</head>

<body>
    <header>
        <div th:insert="html/header.html :: div"></div>
    </header>

    <div class="body">
        <div>
            <p th:text="#{login.bonjour}" />
            <p th:text="#{resetPassword.message1}"  />
            <button class="btn" th:text="#{resetPassword.message2}"  />
        </div>
    </div>

    <footer>
        <div th:insert="html/footer.html :: div"></div>
    </footer>

</body>

</html>