.footer {
    margin: 30px;
    text-align: center;
}

.appMobileLacentralLink {
    padding: 10px;
    display: flex;
    background-color: #F6F6F6;
    justify-content: space-between;
}

.appMobileLacentralLink img {
    width: 140px;
    height: 60px;
    margin: 10px;
}