.header {
    margin: 30px;
    text-align: center;
}

.monCompte {
    position: absolute;
    top: 70px;
    right: 100px;
}

.monCompte a {
    color: #037ACC;
}

.validationEmailDiv {
    padding: 10px;
    background-color: #F6F6F6;
    border-radius: 10px;
}