body {
    margin: 0px 205px;
}

.body {
    margin: 30px;
}

.btn {
    position: relative;
    left: 40%;
    border: 1px solid #037ACC;
    border-radius: 15px;
    background-color: #037ACC;
    color: white;
    padding: 10px;
    margin: 10px;
}